/* General Styles */

.patient-data-container {
  background-color: #ffff;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 56vw;
  margin: 2rem 1rem;
}
.patient-data-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.patient-data-h2 {
  color: #4a4a4a;
}

.patient-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.patient-data-values,
.patient-data-head {
  text-align: left;
  padding: 12px;
}

.patient-data-head {
  background-color: #fff;
  color: #a9a9a9;
  font-size: 1.1rem;
  font-weight: 600;
}
.patient-data-table-body {
  border-top: 1px solid #e8e8e8;
}
.patient-data-values {
  background-color: #fff;
  color: #a9a9a9;
}
.patient-data-values-names {
  color: #1c1c1c;
  font-weight: 600;
  background-color: #fff;
  text-align: left;
  padding: 12px;
}

.patient-data-delete-button {
  border-bottom: none;
}

.patient-data-delete-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #007bff;
  padding: 0;
  margin: 0;
}

.patient-data-delete-button:hover {
  color: #0056b3;
}

/* input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

/* Specific Styles for Actions */
/* .actions button {
    background-color: #dc3545;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .actions button:hover {
    background-color: #c82333;
  } */

/* Add New Patient Section */
/* .add-patient-form input {
    margin-right: 10px;
    margin-bottom: 0;
    display: inline-block;
  }
  
  .add-patient-form button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-patient-form button:hover {
    background-color: #218838;
  }
  
   */
/* From Uiverse.io by G4b413l */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #057dcd;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
