@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.setslot-main-container {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.setslot-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.setslot-h1 {
  font-size: 24px;
  margin: 0;
  cursor: pointer;
}

.setslot-divider {
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin: 0 15px;
}

.setslot-clickable-header {
  cursor: pointer;
  color: #393e46;
  font-family: "Poppins";
}
.setslot-clickable-header.active {
  color: #4aa4fe;
}

.setslot-average-time-header {
  font-family: "Rubik";
}
.setslot-average-time-input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  box-sizing: border-box;
  margin-top: 1rem;
}

.setslot-slots-container {
  margin-top: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 1rem;
}

.setslot-slots {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.setslot-slot-button,
.setslot-bed-button {
  flex: 1 1 30%;
  padding: 10px;
  text-align: center;
  background-color: #ddeff8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.setslot-slot-button.selected {
  background-color: #4aa4fe;
  color: white;
}

.setslot-slot-button:hover,
.setslot-bed-button:hover {
  background-color: #38bdf8;
  color: white;
}

.setslot-bed-button.booked {
  background-color: #34d399; /* Green */
  color: white;
}

.setslot-bed-button.blocked {
  background-color: #d1d5db;
  color: #393e46; /* Gray */
}

.setslot-bed-button.available {
  background-color: #ddeff8; /* Light Blue */
}

.setslot-block-button,
.setslot-allocate-button {
  padding: 0.7rem 1rem;
  background-color: #4aa4fe;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.setslot-beds-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

/* .setslot-legend {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.setslot-legend-item {
  flex: 1;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
  color: white;
}

.setslot-legend-item.available {
  background-color: #ddeff8;
}

.setslot-legend-item.booked {
  background-color: #34d399;
}

.setslot-legend-item.blocked {
  background-color: #d1d5db;
  color: white;
} */
.setslot-slot-button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.8rem;
  padding: 1rem 0.8rem;

  color: #4aa4fe;
}
.setslot-bed-button {
  padding: 0.8rem 0.8rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #4aa4fe;
}
.setslot-legend {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.setslot-legend-item {
  display: flex;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #393e46; /* Default text color */
}

.setslot-legend-item::before {
  content: "";
  display: inline-block;
  width: 10px; /* Size of the dot */
  height: 10px; /* Size of the dot */
  border-radius: 50%; /* Make it a circle */
  margin-right: 8px; /* Space between dot and text */
}

.setslot-legend-item.available::before {
  background-color: #ddeff8; /* Light Blue */
}

.setslot-legend-item.booked::before {
  background-color: #34d399; /* Green */
}

.setslot-legend-item.blocked::before {
  background-color: #d1d5db; /* Gray */
}
.setslot-bed-buttons {
  display: flex;
  justify-content: space-evenly;
}
.setslot-bed-button.available:hover {
  background-color: #34d399;
  color: white;
}
.setslot-bed-button.blocked:hover {
  cursor: not-allowed;
}
