/* Inventory.css */
.inventory-container {
    width: 90%;
    margin: 2rem auto;
    font-family:'Poppins', sans-serif;
  }
  .inventory-sub-container{
    display: flex;
    justify-content: space-between
  }
  .inventory-medicine-header {
    color: #383E49;
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-left: 0.5rem;
  }
  
  .inventory-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 1rem;
  }
  
  .inventory-actions .inventory-button {
    padding: 10px 15px;
    border: none;
    background-color: #fff;
    border: 1px solid #D0D3D9;
    color: #5D6679;
    cursor: pointer;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  .inventory-actions .inventory-button:hover{
    background-color: #1366D9;
    color: #fff;
  }
  
  .inventory-table {
    
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    
  }
  
  .inventory-table th, .inventory-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .inventory-table th{
    color: #667085;
    font-weight: 500;
  }
  .inventory-table td{
    color: #48505E;
    font-weight: 300;
  }
  
  .inventory-availability {
    font-weight: bold;
  }
  
  .inventory-availability.in-stock {
    color: #10A760;
  }
  
  .inventory-availability.out-of-stock {
    color: red;
  }
  
  .inventory-availability.low-stock {
    color: orange;
  }
  
  .inventory-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .inventory-pagination button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .inventory-pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .no-inventory-items{
    display: flex;
    align-items: center;
  }
  